
            <!--This is for navbar-->
            <nav class="navbar">
                <h1 class="logo"><span style="color: greenyellow;font-size:85px;">E</span>xercise Equipments</h1>
                <ul class="nav-links">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/enquiry">Enquiry</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li class="ctn"><a href="<%=url%>" style="color: black;"><%=login%></a></li>
                    <li>
                        <div id="cartBlack">
                            <a href="Cart.html"><img src="Images/cartIconWhite.png" width="50" height="50" /></a>
                            <h3 id="cartQuantity" style="color: aliceblue;"><%=cart%></h3>
                        </div>
                        <div id="cartWhite">
                            <img src="Images/cartIconWhite.png" width="50" height="50"/>
                            <h3 id="cartQuantity" style="color:rgb(254, 254, 254);">0</h3>
                        </div>
                    </li>
                </ul>
               
                <img src="Images/menubtn.png" class="menu-btn" />
            </nav>
            