@import url('https://fonts.googleapis.com/css2?family=Poppins');

/*This is applicable to all tags in html*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*This is for navabar on the top to navigate*/
.navbar
{
    position:absolute;
    color:white;
    top:0;
    left:0;
    display:flex;
    padding:20px;
    width:100%;
    justify-content:space-between;
}
.navbar .logo {
    font-size: 40px;
}
/*To remove the horizontal bar*/
body, html
{
    overflow-x:hidden;
}
/*This is for unordered list under nabar */
ul
{
    list-style:none;
    margin-left:400px;
    font-size:18px;
    font-weight:800;
}
/*This is for navlinks under the navbar */
.nav-links
{
    display:flex;
    align-items:center;
}
.nav-links a
{
    color:aliceblue;
}
.nav-links li
{
    margin:0px 20px;
}
.active
{
    color:greenyellow;
    font-weight:bold;
    text-decoration:underline;
}
/*It is the main tag which consists of background image and header texts*/
header
{
    width:100vw;
    height:100vh;
    background-image:url('../Images/backk.png');
    /* background-position:bottom; */
    background-size:cover;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
.container
{
    width:100%;
    height:100%;
}
/*this is for link tag*/
a
{
    text-decoration:none;  
}
/*this is for class of href link tag to stylize the text*/
.ctn{
    background-color:greenyellow;
    padding:8px 15px;
    border-radius:20px;
    color:black; 
}
header
{
    height: 100vh;
}
/*This is for header content class created under the header tag to stylize the texts*/
.header-content
{
    margin-bottom:150px;
    color:#ffff;
    text-align:center;
}
/*This stylize the header 2 tag under header-content class */
.header-content h2{
    font-size:4vmin;
}
/*This stylize the header 1 tag under header-content class */
.header-content h1{
    font-size:7vmin;
    margin-top:50px;
    margin-bottom:30px;
}
/*This is to create line under the text under header*/
.line
{
    width:150px;
    height:4px;
    background-color:greenyellow;
    margin:5px auto;
    border-radius:5px;
}
.menu-btn
{
    position:absolute;
    top:30px;
    right:30px;
    width:40px;
    display:none;
}

section {
    width: 80%;
    margin: 80px auto;
    background: rgba(7, 23, 72, 0.01);
}
.title
{
    text-align:center;
    font-size:4vmin;
    color:#49497e;
}

.row
{
    display:flex;
    align-items:center;
    width:100%;
    justify-content:space-between;
    margin-bottom:50px;
    margin-right:50px;
 
}
.row .column{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: start;
   
}
body
{
    display: flex;
    flex-direction: column;
    height: auto;
}
.column
{
    margin-left:33px;
    background:#B2B2B2;
}
.row .column img
{
    margin-top:20px;
    transition:transform 0.3s ease-in-out;
}
.row .column img:hover
{
    transform: scale(1.1);
}
.sales-section
{
width:80vw;
height:130vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top:20px;

}
.sales
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sales .row
{
    margin-top:50px;
}
h4
{
    font-size:4vmin;
    color:rgba(255, 255, 255, 0.817);
    margin:20px auto;
}
p{
    color:#9797b2;
    padding:0px 40px;
}
.sales .ctn
{
    margin-top:30px;
    margin-bottom:30px;
}
.explore
{
  /*  width:100%;*/
    height:100vh;
    width:100%;
    background-image:url("../Images/Sale2.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    background-color: #1b1530;
}
.explore .forward {
    display: flex;
    width: 10%;
    height: 10%;
    position: absolute;
    background-size: cover;
    right:0px;
}
.explore .backward {
    display: flex;
    width: 10%;
    height: 10%;
    position: absolute;
    background-size: cover;
    left:0;
    transform:rotate(180deg);
}
.explore-content
{
    width:60%;
    padding:50px;
    color:#ffff;
    display:flex;
    align-items:center;
    flex-direction:column;
}
.explore-content h1
{
    font-size:7vmin;
}
.explore-content .line
{
    margin-bottom:50px;
}
.explore-content p {
    color:#ffff;
}
.explore-content .ctn
{
    margin-top:40px;
}
footer {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #212121;
    align-items: center;
    right:0;
    justify-content:end;
    margin-top:50px;
}
footer .footer-content {
    display: flex;
    margin-right:100px;
}
footer h1
{
   color:aliceblue;
   font-weight:bold;
}
footer ul
{
    margin-top:30px;
    color:#cecece;
    margin-left:100px;
   
}
.logoText
{
    color:aliceblue;
    position:absolute;
    left:30px;
    font-weight:bolder;
    font-size:40px;
}
footer ul h1
{
    margin-bottom:20px;
}
footer ul li
{
    font-weight:800;
}

#cartBlack
{
    display:flex;
    color:black;
}
#cartWhite
{
    display:none;
    color:greenyellow;
}
/*This is make our website responsive for mobile platforms*/
@media only screen and (max-width:850px) {
    .menu-btn
    {
        display:block;
    }
    .navbar {
        padding:0;
    }
    .logo
    {
        position:absolute;
        top:30px;
        left:30px;
    }
    #cartWhite {
        display: flex;
        color: white;
    }
    #cartBlack {
        display: none;
        color: white;
    }
/*If we are in mobile platform then our menu will appear*/
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #1b1530;
        margin-top: -900px;
        margin-left: 0;
        transition: all 1s ease;
    }
/*If we click on menu bar then navbar will appear*/
    .mobile-menu
    {
        margin-top:0px;
        border-bottom-right-radius:30%;
    }
    .nav-links li{
        margin:30px auto;
    }
    .footer-content
    {
        display:flex;
        flex-direction:column;
    }
    footer
    {
        height:70vh;
    }
    .row
    {
        display:flex;
        flex-direction:column;
    }
    .column
    {
        margin-top:50px;
    }
    /* .topnav
    {
        display:flex;
        flex-direction:row;
        height:20vh;
        width:100%;
        background-color: #1b1530;
    } */
    .topnav marquee
    {
     flex:0.5;
    }
    .topnav input
    {
        width:400px;
        flex:0.5;
    }
}
/* Add a black background color to the top navigation bar */
.topnav {
    display: flex;
   /* overflow: hidden;*/
    background-color: rgb(44, 44, 44);
    height: 50px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.topnav marquee {
    color: #ffffff;
    margin-right: 50px;
    text-align: center;
    flex:0.5;
    margin-top:5px;
    font-style: italic;
    font-size:20px;
}
.allitems .row h4
{
    color:#1b1530;
}
.topnav input
{
    flex:0.2;

}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    height:30px;
}
.allitems
{
    margin-top:40px;
    width:90%;
    height:auto;
}
.allitems hr
{
    color: #9797b248;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
/*@media screen and (max-width: 600px) {
    .topnav
    {
        display:flex;
        flex-direction:column;
    }
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
        display:none;
    }
}*/